html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none; }

button:focus, button:active:focus, button.active:focus, button.focus, button:active.focus, button.active.focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Intro-italic';
  src: url("../fonts/subset-Intro-Black-Italic.eot");
  src: url("../fonts/subset-Intro-Black-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Intro-Black-Italic.woff2") format("woff2"), url("../fonts/subset-Intro-Black-Italic.woff") format("woff"), url("../fonts/subset-Intro-Black-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Intro-regular';
  src: url("../fonts/subset-Intro-Regular.eot");
  src: url("../fonts/subset-Intro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Intro-Regular.woff2") format("woff2"), url("../fonts/subset-Intro-Regular.woff") format("woff"), url("../fonts/subset-Intro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Intro-bold';
  src: url("../fonts/subset-Intro-Black.eot");
  src: url("../fonts/subset-Intro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Intro-Black.woff2") format("woff2"), url("../fonts/subset-Intro-Black.woff") format("woff"), url("../fonts/subset-Intro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

/*------------------------------------------------------------------
  	[Fonts]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
  	[Colors]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
  	[Sizes]
------------------------------------------------------------------*/
/*----------------------------------------------------------------------

        Unfortunately, I do not like working with pixels, but in this layout it
        was necessary to solve the problem quickly.
        Perhaps in the future I will rewrite it in relative units to look more
        adaptive and beautiful.

-----------------------------------------------------------------------*/
span {
  display: block; }

.header {
  padding: 15px 0 11px; }
  .header-title {
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Proxima Nova Regular"; }
    .header-title-info {
      margin-left: 35px;
      font-size: 13px; }
    .header-title .header-logo {
      text-transform: uppercase;
      font-size: 30px;
      letter-spacing: 0.02em;
      color: #000000; }
  .header-callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Proxima Nova Bold"; }
    .header-callback .number {
      font-size: 35px;
      margin-right: 17px; }
    .header-callback button {
      font-size: 13px;
      color: #ffffff;
      background: -webkit-gradient(linear, left bottom, left top, from(#ff4f58), to(#fd7048));
      background: linear-gradient(0deg, #ff4f58 0%, #fd7048 100%);
      -webkit-transition: font-size 1s ease-out;
      transition: font-size 1s ease-out; }
      .header-callback button:hover {
        font-size: 15px;
        background: -webkit-gradient(linear, left bottom, left top, from(#ff846b), to(#fd1d0f));
        background: linear-gradient(0deg, #ff846b 0%, #fd1d0f 100%); }
    @media (max-width: 991px) {
      .header-callback .number {
        font-size: 30px;
        margin-right: 31px; } }
    @media (max-width: 767px) {
      .header-callback .number {
        font-size: 22px;
        margin-right: 15px; } }
    @media (max-width: 576px) {
      .header-callback .number {
        display: none; } }

.gallery {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  min-height: 90%; }
  .gallery .gallery-img-wrapper {
    position: relative; }
    .gallery .gallery-img-wrapper .gallery-navbar {
      padding: 0.5rem 0;
      width: 100%;
      z-index: 100;
      position: absolute;
      top: 0;
      background-color: rgba(0, 0, 0, 0.3); }
      .gallery .gallery-img-wrapper .gallery-navbar .nav-link {
        padding: 0; }
      .gallery .gallery-img-wrapper .gallery-navbar ul {
        padding: 0 9px 0 37px;
        width: 100%;
        font-family: "Proxima Nova Regular";
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase; }
        .gallery .gallery-img-wrapper .gallery-navbar ul li {
          text-align: center;
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
          .gallery .gallery-img-wrapper .gallery-navbar ul li a {
            color: #ffffff; }
        .gallery .gallery-img-wrapper .gallery-navbar ul li.active {
          font-family: "Proxima Nova Bold"; }
        .gallery .gallery-img-wrapper .gallery-navbar ul li + li {
          border-left: 1px solid #ffffff; }
        @media (max-width: 767px) {
          .gallery .gallery-img-wrapper .gallery-navbar ul li + li {
            border-left: none;
            margin-top: 5px; } }
    @media (max-width: 1200px) {
      .gallery .gallery-img-wrapper .gallery-navbar {
        padding: 4px 0; } }
    .gallery .gallery-img-wrapper > img {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 1; }
    .gallery .gallery-img-wrapper > img.layer {
      left: 0;
      position: absolute;
      z-index: 2;
      width: 85%;
      top: 0;
      bottom: 0;
      height: 100%; }
    @media (max-width: 991px) {
      .gallery .gallery-img-wrapper > img {
        width: 150%;
        min-height: 450px; }
      .gallery .gallery-img-wrapper > img.layer {
        display: none; } }
    .gallery .gallery-img-wrapper .gallery-info-block-container {
      position: relative; }
    .gallery .gallery-img-wrapper .gallery-info-block {
      position: absolute;
      z-index: 10;
      margin-top: 6%;
      left: -9px; }
      .gallery .gallery-img-wrapper .gallery-info-block .pricement {
        -webkit-transform: skew(-18deg);
                transform: skew(-18deg);
        padding: 0 14px;
        border-left: 3px solid #ffffff; }
        .gallery .gallery-img-wrapper .gallery-info-block .pricement .gallery-title {
          padding: 0.1em 0.2em 0.08em;
          background-color: rgba(255, 255, 255, 0.7);
          font-family: "Intro-bold";
          font-size: 90px;
          text-transform: uppercase;
          font-weight: 900;
          -webkit-box-shadow: -4px 4px 16px 0px rgba(0, 0, 0, 0.3);
                  box-shadow: -4px 4px 16px 0px rgba(0, 0, 0, 0.3);
          margin-bottom: 10px; }
          .gallery .gallery-img-wrapper .gallery-info-block .pricement .gallery-title span {
            -webkit-transform: skew(18deg);
                    transform: skew(18deg); }
        @media (max-width: 1200px) {
          .gallery .gallery-img-wrapper .gallery-info-block .pricement .gallery-title {
            font-size: 75px;
            text-align: center; } }
        @media (max-width: 870px) {
          .gallery .gallery-img-wrapper .gallery-info-block .pricement .gallery-title {
            font-size: 60px; } }
        @media (max-width: 576px) {
          .gallery .gallery-img-wrapper .gallery-info-block .pricement .gallery-title {
            font-size: 40px; } }
        @media (max-width: 479px) {
          .gallery .gallery-img-wrapper .gallery-info-block .pricement .gallery-title {
            font-size: 25px; } }
        .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end; }
          .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-name {
            position: relative;
            font-size: 36px;
            font-family: "Intro-italic";
            padding: 11px 65px 20px;
            background-color: rgba(255, 255, 255, 0.7); }
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-name hr {
              position: absolute;
              left: 10%;
              right: 10%;
              bottom: 10%;
              margin: 0;
              margin-top: 5px;
              border: 2px solid #000000; }
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-name span {
              -webkit-transform: skew(18deg);
                      transform: skew(18deg); }
          @media (max-width: 1200px) {
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-name {
              font-size: 34px;
              padding: 11px 47px 20px;
              max-width: 365px;
              text-align: center; } }
          @media (max-width: 991px) {
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-name {
              font-size: 25px;
              padding: 8px 30px 10px; } }
          @media (max-width: 870px) {
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-name {
              font-size: 20px;
              padding: 6px 25px 10px; }
              .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-name hr {
                border: 1px solid #000000;
                margin-top: 2px; } }
          @media (max-width: 479px) {
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-name {
              font-size: 15px;
              width: 145px;
              padding: 8px 11px 5px;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center; } }
          .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-price {
            padding: 5px 15px 3px;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            color: #ffffff;
            height: -webkit-min-content;
            height: -moz-min-content;
            height: min-content;
            background: -webkit-gradient(linear, left top, right top, from(#2aeb2a), to(#007500));
            background: linear-gradient(90deg, #2aeb2a 0%, #007500 100%);
            /* w3c */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2aeb2a', endColorstr='#007500', GradientType=1);
            -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
                    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
            font-family: "Intro-regular";
            margin-left: 8px;
            margin-bottom: 0.6em; }
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-price .price {
              margin: 0 20px;
              font-size: 41px;
              font-weight: 900; }
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-price span {
              -webkit-transform: skew(18deg);
                      transform: skew(18deg);
              font-size: 16px; }
          @media (max-width: 1200px) {
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-price .price {
              margin: 0 13px; } }
          @media (max-width: 991px) {
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-price .price {
              font-size: 25px; } }
          @media (max-width: 479px) {
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-price {
              width: 100%;
              padding: 5px 10px 3px;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              margin-left: 0; }
              .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-price span {
                font-size: 10px; }
              .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-price .price {
                font-size: 16px; } }
        @media (max-width: 479px) {
          .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info {
            display: block; }
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-name {
              width: 100%; }
            .gallery .gallery-img-wrapper .gallery-info-block .pricement .room-info .room-price {
              width: 100%;
              margin-top: 10px; } }
      @media (max-width: 991px) {
        .gallery .gallery-img-wrapper .gallery-info-block .pricement {
          padding: 0 12px; } }
    @media (max-width: 1200px) {
      .gallery .gallery-img-wrapper .gallery-info-block {
        left: 5%;
        margin-top: 5%; } }
    @media (max-width: 991px) {
      .gallery .gallery-img-wrapper .gallery-info-block {
        margin-top: 18%; } }
    @media (max-width: 576px) {
      .gallery .gallery-img-wrapper .gallery-info-block {
        left: 10%;
        right: 10%; } }
    @media (max-width: 479px) {
      .gallery .gallery-img-wrapper .gallery-info-block {
        margin-top: 30%; } }
    .gallery .gallery-img-wrapper .ideas {
      max-width: 50%;
      font-family: "Proxima Nova Bold";
      font-size: 19px;
      color: #ffffff;
      text-transform: uppercase;
      margin-top: 22px;
      margin-left: 4%; }
      .gallery .gallery-img-wrapper .ideas p {
        margin-bottom: 20px;
        line-height: 120%; }
      .gallery .gallery-img-wrapper .ideas button {
        color: #ffffff;
        background: -webkit-gradient(linear, left bottom, left top, from(#ff4f58), to(#fd7048));
        background: linear-gradient(0deg, #ff4f58 0%, #fd7048 100%);
        border: 2px solid #ffffff;
        border-radius: .2em;
        padding: 7px 17px;
        font-size: 23px;
        -webkit-transition: background 1s ease-in, padding 0.3s;
        transition: background 1s ease-in, padding 0.3s; }
        .gallery .gallery-img-wrapper .ideas button:hover {
          padding: 7px 23px;
          background: -webkit-gradient(linear, left bottom, left top, from(#ff846b), to(#fd1d0f));
          background: linear-gradient(0deg, #ff846b 0%, #fd1d0f 100%); }
    @media (max-width: 991px) {
      .gallery .gallery-img-wrapper .ideas {
        max-width: 100%;
        font-size: 15px;
        margin-top: 10px; }
        .gallery .gallery-img-wrapper .ideas p {
          margin-bottom: 10px; }
        .gallery .gallery-img-wrapper .ideas button {
          padding: 6px 10px;
          font-size: 15px; } }
    @media (max-width: 767px) {
      .gallery .gallery-img-wrapper .ideas button {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 20px; } }
    @media (max-width: 576px) {
      .gallery .gallery-img-wrapper .ideas p {
        display: none; } }
    @media (max-width: 479px) {
      .gallery .gallery-img-wrapper .ideas {
        margin-left: 0; }
        .gallery .gallery-img-wrapper .ideas button {
          font-size: 15px;
          margin: 0 auto;
          display: block;
          margin-top: 45px; } }
    .gallery .gallery-img-wrapper .controls {
      margin-top: 48px;
      margin-left: 3.5%;
      color: #ffffff;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .gallery .gallery-img-wrapper .controls .arrow {
        font-size: 35px;
        cursor: pointer; }
        .gallery .gallery-img-wrapper .controls .arrow:hover {
          font-size: 30px;
          text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.61); }
      .gallery .gallery-img-wrapper .controls .dots {
        margin: 0 40px; }
        .gallery .gallery-img-wrapper .controls .dots .dot {
          width: 18px;
          height: 18px;
          border: 3px solid #ffffff;
          border-radius: 100%;
          background-color: transparent; }
          .gallery .gallery-img-wrapper .controls .dots .dot + .dot {
            margin-left: 13px; }
          .gallery .gallery-img-wrapper .controls .dots .dot:hover {
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4); }
        .gallery .gallery-img-wrapper .controls .dots .dot.active {
          background-color: #ffffff; }
    @media (max-width: 1200px) {
      .gallery .gallery-img-wrapper .controls {
        margin-top: 25px; } }
    @media (max-width: 991px) {
      .gallery .gallery-img-wrapper .controls {
        margin-top: 10px; }
        .gallery .gallery-img-wrapper .controls .arrow {
          font-size: 25px; }
        .gallery .gallery-img-wrapper .controls .dots {
          margin: 0 20px; }
          .gallery .gallery-img-wrapper .controls .dots .dot {
            width: 10px;
            height: 10px; } }
    @media (max-width: 767px) {
      .gallery .gallery-img-wrapper .controls {
        margin-top: 20px; }
        .gallery .gallery-img-wrapper .controls .arrow {
          font-size: 40px; }
        .gallery .gallery-img-wrapper .controls .dots {
          margin: 0 30px; }
          .gallery .gallery-img-wrapper .controls .dots .dot {
            width: 20px;
            height: 20px; } }
    @media (max-width: 479px) {
      .gallery .gallery-img-wrapper .controls {
        margin-left: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .gallery .gallery-img-wrapper .our-activities {
      left: 0;
      right: 0;
      z-index: 150;
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      bottom: 0;
      padding: 20px 0; }
    .gallery .gallery-img-wrapper .activiti {
      text-align: center; }
      .gallery .gallery-img-wrapper .activiti-img {
        margin-bottom: 18px; }
      .gallery .gallery-img-wrapper .activiti-title {
        font-family: "Proxima Nova Bold";
        font-size: 22px;
        margin-bottom: 21px; }
      .gallery .gallery-img-wrapper .activiti-text {
        font-family: "Proxima Nova Regular"; }
    @media (max-width: 991px) {
      .gallery .gallery-img-wrapper .our-activities {
        position: static; }
        .gallery .gallery-img-wrapper .our-activities .activiti {
          margin-top: 10px; } }

/*------------------------------------------------------------------
  	[Another classes]
------------------------------------------------------------------*/
.fadein {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.b-circle {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  border-radius: 50%; }

.b-circle-line {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px solid black;
  border-radius: 50%; }

.b-circle-line:nth-of-type(2) {
  top: -3px;
  left: -3px;
  right: -3px;
  border: 2px solid rgba(84, 0, 255, 0);
  bottom: -3px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1171px; } }
