$text-default-font: 'Proxima Nova Regular';
$text-titles-font: 'Proxima Nova Bold';
$big-text: 'Intro-regular';
$big-text-italic: 'Intro-italic';

$btn-color: linear-gradient(0deg, rgba(255,79,88,1) 0%, rgba(253,112,72,1) 100%);;